body {
  background-repeat: no-repeat;

  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  color: black;
}

.card {
  color: black;
}

.card-title {
  text-align: center;
}

.prediction {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bold;
  color: #007bff;
}

.weatherInfo {
  font-weight: bold;
  color: #007bff;
  text-shadow: 1px 0px white;
}
.weather-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.forecastDescription {
  text-transform: capitalize;
  font-style: italic;
}

#whatIcon {
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

#whatWeather {
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-img {
  border: 2px #4596fb solid;
  height: 600px;
  width: 800px;
}
#card-outer {
  border: none;
  margin: 0 auto;
  max-width: 800px;
}

#btn1 {
  margin-top: 5px;
  margin-left: 15px;
}

#btncurrentlocation {
  margin-bottom: 5px;
}

#search-clocation {
  padding: 5px 10px 5px 10px;
  background-image: linear-gradient(
    125deg,
    #d4ffec 10%,
    #57f2cc 148%,
    #4596fb 100%
  );
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
}

#search-ccity {
  background: transparent;
  border: solid 1px #007bff;
  color: #007bff;
  border-radius: 30px;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}
#search-ccity:hover {
  background: #007bff;
  color: white;
  transition: ease-in-out 200ms;
  border: solid 1px #007bff;
}

#search-clocation {
  background: transparent;
  border: solid 1px #007bff;
  color: #007bff;
  padding: 5px 10px 5px 10px;
}
#search-clocation:hover {
  background: #007bff;
  color: white;
  transition: ease-in-out 200ms;
  border: solid 1px #007bff;
}

#weather-forecast {
  font-size: 25px;
  text-align: center;
  /* color: linear-gradient(-225deg, #d4ffec 10%, #57f2cc 48%, #4596fb 100%); */
  border: solid 1px #007bff;
  box-shadow: 1px 1px 4px 1px #007bff;
  width: 320px;
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 10px;
  color: #007bff;
}

#WhatWeather,
#fc {
  font-weight: light;
}

#card1,
#card2 {
  display: block;
  text-align: center;
  border: 0px solid;
  padding: 10px;
  margin: 0px;
}

.icon {
  margin: 0 auto;
  max-width: 20%;
}

.forecastDescription {
  font-size: 14px;
}

#gitlink {
  text-align: center;
  margin: 0 auto;
  display: block;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}
